.fiveday, .current  {
    display: none;
  }
  
  /* medium devices*/
@media only screen and (min-width: 650px) {
            
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav button { display:none; }
    
    nav ul { 
        margin-left: 2%;
    }
    
    nav ul.hide {display:inline-flex;}
    
    nav ul li { 
        display: inline-flex;
        flex-flow: nowrap;
    }
    nav ul li a { 
        border: none; 
        border-right: 1px solid rgba(0,0,0,0.3);
        padding:  .8rem 1rem;
    }
    
    /* this code is for the bottom contact and map */
    
    .map-address {
        display: flex;
        flex-flow: wrap;
        background: #9bc2c2;
        color: #004400;
    }
    
    address {order: 2;}
    .map  {order: 1;}
    
    /*this code is for the 5-day forcast */

    .fiveday {
        display: block;
        color: #004400;
        width: 500px;
        border:  10px outset rgba(0,0,0,0.2);
        background-color: white;
        border-collapse: collapse;
      }
    table {
        margin: 2vw auto;
    }
    
    .fiveday th, .fiveday td {
        text-align: center;
        color: #004400;
        width: 100px;
        font-size: 1.1em;
        border-left: 1px solid #004400;
        border-right: 1px solid #004400;
        border-collapse: collapse;
      }
    .fiveday th {
        font-size: 1.5em;
    }

    .days td {
    height: 40px;
    background-color: #bed8be;
    }

    .forecast {
        display: block;
        max-height: 100px;
        width: 350px;
    }

  }